{% extends "base.html" %}
{% load url from future %}

{% block content %}
  <div class="well">
    <h2>Create a Ticket Request</h2>
    <p>Enter your account verification code</p>
    <form class="" method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <fieldset class="control-group {{ form.verification_code.css_classes }}">
        {{ form.verification_code.label_tag }}
        {{ form.verification_code }}
        <span class="help-inline">{{ form.verification_code.errors }}</span>
      </fieldset>
      <button type="submit" class="btn btn-success">Verify</button>
      <a class="btn" href="{% url 'dashboard' %}">Cancel</a>
    </form>
  </div>
{% endblock %}
