{% extends "base.html" %}

{% block content %}
  <div class="page-heading">
    <h2>Ticket Offer 
      <small>Status: <span class="label">{{ ticket_offer.get_status_display }}</span>
    </h2>
    <div class="row">
      <div class="span4">
        <div class="well">
          {% if ticket_request.is_active %}
            <ul class="nav nav-list">
              <li class="nav-header">Manage Offer</li>
              <li> | <a href="{% url 'offer_cancel' pk=ticket_offer.pk %}">Cancel</a></li>
              {% if not ticket_offer.is_automatch %}
                <li> | <a href="#">Automatch</a></li> {# TODO #}
              {% endif %}
            </ul>
          {% endif %}
          <dl class="dl-horizontal">
            <dt>Created</dt>
            <dd>{{ ticket_offer.created_at|date }}</dd>
          </dl>
        </div>
      </div>
      <div class="span8">
        <div class="well">
          {% if ticket_offer.is_fulfilled %}
            <p class="lead">This ticket offer has been matched with a recipient and closed..</p>
          {% elif ticket_offer.is_reserved %}
            <p class="lead">This ticket offer has been matched and is awaiting confirmation from the recipient.</p>
          {% elif ticket_offer.is_active %}
            {% if ticket_offer.is_automatch %}
              <p class="lead">This offer is currently active and will be matched with the next ticket request that enters the exchange.</p>
            {% else %}
              <p class="lead">This offer is currently active and waiting for you to <a href="{% url 'offer_select_recipient' pk=ticket_offer.pk %}">select a recipient</a>.</p>
            {% endif %}
          {% elif ticket_offer.is_cancelled %}
          {% elif ticket_offer.is_terminated %}
          {% endif %}
        </div>
        <h2>History</h2>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Created</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for ticket_match in ticket_offer.matches.all %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ ticket_match.created_at|date }}</td>
                <td>{{ ticket_match.get_status_display }}</td>
              </tr>
            {% empty %}
            <tr><td>-</td><td colspan="3">No Offer History</td></tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
