{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="span6 offset3">
      <form method="post" class="well">
        {{ form.errors }}
        <h2>Cancel Ticket Request</h2>
        <p>This will cancel your ticket request.  This action cannot be undone.</p>
        {% csrf_token %}
        <div class="form-actions">
          <a class="btn" href="{% url 'request_detail' pk=ticket_request.pk %}">Nevermind</a>
          <button type="submit" class="btn btn-danger pull-right">Yes, I want to cancel my ticket request.</button>
          {# TODO: they could have come from 'dashboard' #}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
