{% extends "base.html" %}
{% load djangular_tags %}

{% block content %}
  <div class="row">
    <div class="span6 offset3">
      <form method="post" class="well">
        <h2>Create a Ticket Request</h2>
        <p>Please inclued a brief personal message to accompany your ticket request.</p>
        {% csrf_token %}
        <div ng-app>
          <textarea name="{{ form.message.html_name }}" id="{{ form.message.auto_id }}" ng-model="message" rows="6"></textarea>
          {{ form.message.errors }}
          <div ng-show="message">
            <blockquote class="pull-right">
              <p>{% ng 'message' %}</p>
              <small><cite title="Source Title">{{ user.display_name }}</cite></small>
            </blockquote>
            <br /><br />
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-success">Request a Ticket</button>
          <a class="btn" href="{% url 'dashboard' %}">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
