{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="span8 offset2">
      <h1>Verify ownership of {{ phone_number }}</h1>
      <p class="lead">Enter the confirmation code to verify your phone number.  The code
      will be valid until {{ phone_number.expires_at|date }}.</p>
      <div class="row">
        <form method="post" class="well span3 offset1">
          {% include 'form_as_fieldsets.html' %}
          <button type="submit" class="btn">Verify</button>
          {% if not phone_number.attempts == 0 %}
            <br />
            <br />
            <p class="text-warning"><span class="badge badge-warning">{{ phone_number.attempts_remaining }}</span> attempts remaining.</p>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}

