Django>=1.7,<1.8
boto==2.36.0
dj-database-url==0.3.0
django-argonauts==1.0.1
django-authtools==1.0.0
django-betterforms==1.1.1
django-bootstrap3==5.1.1
django-cache-url==0.8.0
django-emailtools==0.2.2
django-localflavor==1.1
django-pagination==1.0.7
django-pipeline==1.4.6
django-s3-folder-storage==0.2
django-secure==1.0.1
djangorestframework==3.0.5
env-excavator==1.2.0
gunicorn==18.0
phonenumbers==6.0.0
psycopg2==2.6
pyScss==1.1.5
pylibmc==1.4.1
python-dotenv==0.1.0
raven==5.2.0
twilio==3.7.1
django-cors-headers==1.0.0
