-e git://github.com/fusionbox/django-fusionbox.git@master#egg=django_fusionbox
-e git://github.com/fusionbox/django-emailtools@master#egg=django-emailtools_dev
Django
South
Werkzeug
django-cachebuster
django-compressor
django-debug-toolbar
django-extensions
django-authtools
pyScss
django-pagination
twilio
django-social-auth
gunicorn
dj-database-url
static
django-storages
boto
django-localflavor-us==1.1
django-s3-folder-storage==0.1
psycopg2==2.4.2
