We've found a ticket for you. Please follow the link below and confirm you
still need the ticket.

[{{ confirm_url }}]({{ confirm_url }})

You have until {{ ticket_match.expires_at|date }} to confirm that you still
need a ticket.  If you fail to do so, your ticket request will be cancelled,
and the ticket will be released to the next person in line.

If you no longer need the ticket, please follow the link, and release the
ticket so that someone else can have it.

Thanks,
The Apogaea Ladder Team
