{% load humanize %}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Created</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for ticket_match in ticket_matches %}
        <tr>
            <td>{{ ticket_match.pk }}</td>
            <td>{{ ticket_match.created_at|date }}</td>
            <td>
                {{ ticket_match.get_status_display }}
                {% if ticket_match.is_awaiting_confirmation %}
                <em> (Expires {{ ticket_match.expires_at|naturaltime }})</em>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr><td>-</td><td colspan="3">No Offer History</td></tr>
        {% endfor %}
    </tbody>
</table>
