<!doctype HTML>
{% load static %}
{% load url from future %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="{% block seo_description %}{% endblock %}" />
  <meta name="keywords" content="{% block seo_keywords %}{% endblock %}" />
  <title>{% block title %}Apogaea Ladder Program{% endblock %}</title>
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
  {% block css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ladder.css' %}" />
  {% endblock %}
  {% block javascript %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ladder.js' %}"></script>
  {% endblock %}
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="{% url 'site_index' %}">Ladder</a>
      <ul class="nav">
        {% if user.is_authenticated %}
          <li><a href="{% url 'dashboard' %}">Exchange</a></li>
          {% if user.is_admin %}
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
          {% endif %}
        {% endif %}
      </ul>
      <ul class="nav pull-right">
        {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
      </ul>
    </div>
  </div>

  <div class="container">
    {% block messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          <button class="close" data-dismiss="alert">&times;</button>
          <h4 class="alert=heading">{{ message.tags|title }}</h4>
          {{ message }}
        </div>
      {% endfor %}
    {% endblock %}
    {% block content %}
    {% endblock %}
  </div>
  <div id="footer">
  </div>
</body>
</html>
