<!doctype HTML>
{% load static %}
{% load pipeline %}
{% load argonauts %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="{% block seo_description %}{% endblock %}" />
        <meta name="keywords" content="{% block seo_keywords %}{% endblock %}" />
        <title>{% block title %}Apogaea Ladder Program{% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
        {% if ROLLBAR_CONFIG %}
            <script type="text/javascript">var _rollbarConfig = {{ ROLLBAR_CONFIG|json }};</script>
            {% javascript 'rollbar' %}
        {% endif %}
        {% stylesheet 'base' %}
        {% javascript 'base' %}
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'site-index' %}">Ladder</a>
                <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'dashboard' %}">Exchange</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'faq' %}">FAQ</a></li>
                    <li><p class="navbar-text">|</p></li>
                    <li><p class="navbar-text">Pending Requests: <span class="badge">{{ num_active_requests }}</span></p></li>
                    <li><p class="navbar-text">Ticket Matches: <span class="badge">{{ num_fulfilled_requests }}</span></p></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav pull-right">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% if user.is_admin %}
                        <li><p class="navbar-text">|</p></li>
                        <li><a href="{% url 'admin:index' %}">Admin</a></li>
                    {% endif %}
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="container">
            {% block messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <button class="close" data-dismiss="alert">&times;</button>
                <h4 class="alert=heading">{{ message.tags|title }}</h4>
                {{ message }}
            </div>
            {% endfor %}
            {% endblock %}
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer">
        </div>
    </body>
</html>
