{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="span12">
      <div class="hero-unit">
        <h1>Apogaea Ticket Exchange</h1>
        <p class="lead">Facilitating the face value exchange of tickets for the Apogaea community</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <div class="well">
        <h2>Item 1</h2>
        <p>Some text about item one</p>
      </div>
    </div>
    <div class="span4">
      <div class="well">
        <h2>Item 1</h2>
        <p>Some text about item one</p>
      </div>
    </div>
    <div class="span4">
      <div class="well">
        <h2>Item 1</h2>
        <p>Some text about item one</p>
      </div>
    </div>
  </div>
{% endblock %}
