{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="span4 offset4">
      {% if token_valid %}
        <form action="{% url 'register_confirm' token=token %}" method="post" class="well">
            <p>
                To complete your registration, we will text you a code to verify your ownership
                of the submitted phone number.
            </p>
            <dl>
              <dt>Email:</dt>
              <dd>{{ email }}</dd>
              <dt>Phone Number:</dt>
              <dd>{{ phone_number }}</dd>
            </dl>
            {% csrf_token %}
            <button type="submit">Send SMS Verification Code</button>
        </form>
      {% else %}
        {% if email_already_registered %}
        <p>
            An account with the email address <code>{{ email }}</code> has
            already been registered.  You can <a href="{% url 'login' %}">login</a>
            or <a href="{% url 'password-reset' %}">reset your password</a>.
        </p>
        {% elif phone_number_already_registered %}
        <p>
            An account with the phone number <code>{{ phone_number }}</code>
            already exists.  Please register with a different phone number.
        </p>
        {% else %}
        <p>
            It appears you are using an expired or invalid registration
            confirmation link.  Would you like to try 
            <a href="{% url 'register' %}">registering</a> again?
        </p>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
