{% extends "base.html" %}
{% load url from future %}

{% block content %}
    <div class="row">
        {% if ticket_request_choices %}
            <h1>Choose who to give your ticket to</h1>
            <p>You may choose one of the people listed below, or just opt to
            give your ticket to the next person in line.</p>
        {% else %}
            <h1>Offer a ticket</h1>
            <p>Proceed to give your ticket to the next person who requests a ticket.</p>
        {% endif %}
        {% for ticket_request in ticket_request_choices %}
            <div class="col-md-6">
                <form id="recipient-select-{{ forloop.counter }}" action="." method="post" class="jumbotron">
                    {% csrf_token %}
                    <blockquote class="pull-right">
                        <p>{{ ticket_request.message }}</p>
                        <small><cite title="Source Title">{{ ticket_request.user.display_name }}</cite></small>
                    </blockquote>
                    <input type="hidden" name="ticket_request" value="{{ ticket_request.pk }}">
                    <button class="btn btn-large btn-block btn-success" type="submit">Go</button>
                </form>
            </div>
        {% empty %}
            <div class="col-md-9">
                <p>There are no active ticket requests.<p>
            </div>
        {% endfor %}

        <div class="col-md-6">
            <form id="auto-match" action="." method="post" class="jumbotron">
                {% csrf_token %}
                <input type="hidden" name="is_automatch" value="1">
                <p class="text-info">Just give my ticket to the first person in line.</p>
                <button class="btn btn-large btn-block btn-info" type="submit">Go</button>
            </form>
        </div>
    </div>
{% endblock %}
