{% extends "base.html" %}
{% load url from future %}

{% block content %}
  <form class="" method="post">
    {% csrf_token %}
    <div class="page-header">
      <h1>Offer Your Ticket <small>How would you prefer your ticket be distributed?</small></h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="hero-unit">
          <h2>You Choose</h2>
          <p>Manually choose the recipient of your ticket.  You will be provided
          with a set of applicants and allowed to choose which applicant recieves
          your ticket.</p>
          <button class="btn btn-large" type="submit" name="{{ form.is_automatch.html_name }}" value="False">Manually</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="hero-unit">
          <h2>Automatic</h2>
          <p>Your ticket will be matched with an applicant automatically.</p>
          <button class="btn btn-large" type="submit" name="{{ form.is_automatch.html_name }}" value="True">Automatic</button>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
