{% extends "base.html" %}

{% block content %}
<div class="page-heading">
    <h2>Ticket Offer 
        <small>Status: <span class="label label-default">{{ ticket_offer.get_status_display }}</span>
    </h2>
    <div class="row">
        <div class="col-md-4">
            <div class="well">
                <h3>Manage Offer</h3>
                <ul class="nav nav-list">
                    {% if ticket_offer.is_active %}
                        <li><a href="{% url 'offer-cancel' pk=ticket_offer.pk %}">Cancel</a></li>
                    {% endif %}
                </ul>
                <dl class="dl-horizontal">
                    <dt>Created</dt>
                    <dd>{{ ticket_offer.created_at|date }}</dd>
                </dl>
            </div>
        </div>
        <div class="col-md-8">
            <div class="well">
                {% if ticket_offer.is_fulfilled %}
                    <p class="lead">
                        This ticket offer was matched with a the following recipient.
                        <dl class="dl-horizontal">
                            <dt>Match ID:</dt>
                            <dd>{{ accepted_match.pk }}</dd>
                            <dt>Name:</dt>
                            <dd>{{ accepted_match.ticket_request.user.display_name }}</dd>
                            <dt>Message:</dt>
                            <dd><em>{{ accepted_match.ticket_request.message }}</em></dd>
                            <dt>Phone Number:</dt>
                            <dd>{{ accepted_match.ticket_request.user.profile.phone_number }} </dd>
                            <dt>Email:</dt>
                            <dd>{{ accepted_match.ticket_request.user.email }} </dd>
                        </dl>
                    </p>
                {% elif ticket_offer.is_reserved %}
                    <p class="lead">
                        This ticket offer has been matched and is awaiting
                        confirmation from the recipient.
                        <dl class="dl-horizontal">
                            <dt>Match ID:</dt>
                            <dd>{{ pending_match.pk }}</dd>
                            <dt>Name:</dt>
                            <dd>{{ pending_match.ticket_request.user.display_name }}</dd>
                            <dt>Message:</dt>
                            <dd><em>{{ pending_match.ticket_request.message }}</em></dd>
                        </dl>
                    </p>
                {% elif ticket_offer.is_active %}
                    {% if ticket_offer.is_automatch %}
                        <p class="lead">
                        This offer is currently active and will be matched with the
                        next ticket request that enters the exchange.
                        </p>
                    {% endif %}
                {% elif ticket_offer.is_cancelled %}
                    <p class="lead">
                    This offer is currently cancelled.
                    </p>
                {% elif ticket_offer.is_terminated %}
                    <p class="lead">
                    This offer is currently terminated.
                    </p>
                {% endif %}
            </div>
            <h2>Offer History</h2>
            {% include "exchange//partials/history_table.html" with ticket_history_entries=ticket_offer.history.all %}
            <h2>Matche History</h2>
            {% include "exchange/partials/match_table.html" with ticket_matches=ticket_offer.matches.all %}
        </div>
    </div>
</div>
{% endblock %}
