{% extends "base.html" %}

{% block content %}
  <script id="preview-template" type="text/x-handlebars-template">
  </script>
  <div class="row">
    <div class="span6 offset3">
      <form method="post" class="well">
        {% if ticket_request %}
          <h2>Edit Ticket Request</h2>
          <p>You may edit your personal message below.</p>
        {% else %}
          <h2>Create a Ticket Request</h2>
          <p>Please inclued a brief personal message to accompany your ticket request.</p>
        {% endif %}
        {% csrf_token %}
        <div>
          {% include 'form_as_fieldsets.html' %}
          <div id="message-preview">
            <h4>Preview</h4>
            <blockquote class="pull-right">
              <p id="message-body"></p>
              <small><cite title="Source Title">{{ user.display_name }}</cite></small>
            </blockquote>
            <br /><br />
          </div>
        </div>
        <div class="form-actions">
          {% if ticket_request %}
            <button type="submit" class="btn btn-success">Save</button>
            <a class="btn" href="{% url 'request-detail' pk=ticket_request.pk %}">Cancel</a>
            {# TODO: they could have come from 'dashboard' #}
          {% else %}
            <button type="submit" class="btn btn-success">Request a Ticket</button>
            <a class="btn" href="{% url 'dashboard' %}">Cancel</a>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
