{% extends "base.html" %}

{% block content %}
<div class="page-heading">
    <h2>Ticket Request 
        <small>Status: <span class="label label-default">{{ ticket_request.get_status_display }}</span>
    </h2>
    <div class="row">
        <div class="col-md-4">
            <div class="well">
                <ul class="nav nav-list">
                    <li class="nav-header">Manage Request</li>
                    {% if ticket_request.is_active %}
                        <li><a href="{% url 'request-cancel' pk=ticket_request.pk %}">Cancel</a></li>
                    {% elif ticket_request.is_reserved %}
                    {% if ticket_request.get_pending_match %}
                        <li><a href="{% url 'match-confirm' pk=ticket_request.get_pending_match.pk %}">Accept/Reject</a></li>
                    {% endif %}
                    {% endif %}
                </ul>
                <dl class="dl-horizontal">
                    <dt>Created</dt>
                    <dd>{{ ticket_request.created_at|date }}</dd>
                </dl>
            </div>
        </div>
        <div class="col-md-8">
            <h2>Request History</h2>
            {% include "exchange//partials/history_table.html" with ticket_history_entries=ticket_request.history.all %}
            <h2>Match History</h2>
            {% include "exchange/partials/match_table.html" with ticket_matches=ticket_request.matches.all %}
        </div>
    </div>
</div>
{% endblock %}
