{% extends "base.html" %}

{% block content %}
  <h2>Select A Recipient for your ticket</h2>
  {% if ticket_request_choices %}
    <p class="lead">You may select from the following ticket requests.</p>
  {% endif %}
  <div class="row">
    {% for ticket_request in ticket_request_choices %}
      <div class="span4">
        <form method="post" class="hero-unit">
          {% csrf_token %}
          <blockquote class="pull-right">
            <p>{{ ticket_request.message }}</p>
            <small><cite title="Source Title">{{ ticket_request.user.display_name }}</cite></small>
          </blockquote>
          <button class="btn btn-large btn-block btn-primary" name="ticket_request" value="{{ ticket_request.pk }}" type="submit">Give Ticket</button>
        </form>
      </div>
    {% empty %}
      <div class="span4 offset4">
        <form method="post" action="{% url 'offer-toggle-automatch' pk=ticket_offer.pk %}" class="hero-unit">
          <h2>No Ticket Requests..</h2>
          <p>It looks like there are no active ticket requests at this time.
          You can either come back later, or switch your offer to
          <strong>automatch</strong> to have your ticket automatically matched
          with the next request that enters the system</p>
          {% csrf_token %}
          <button type="submit">Yes, Switch to Automatching</button>
        </form>
      </div>
    {% endfor %}
  </div>
{% endblock %}
