{% extends 'admin/index.html' %}


{% block right_main %}
<div>
    <h2>Exchange Administration <small><a href="{% url 'admin:index' %}"><span class="glyphicon glyphicon-link"></span></a></small></h2>
    <p>
        The <a href="{% url 'admin:index' %}">index</a> page of the admin gives
        you tables showing the most recent users, ticket
        requests/offers/matches.  This should provide an <em>at a glance</em>
        view of the site.
    </p>
    <p>
        On the main admin index page, you can also see general statistics about
        the exchange.
    </p>
    <h2>User Administration <small><a href="{% url 'admin:user-list' %}"><span class="glyphicon glyphicon-link"></span></a></small></h2>
    <p>
        The <a href="{% url 'admin:user-list' %}">users</a> page of the admin
        lists all of the user accounts registered for the exchange.
    </p>
    <p>
        The list shows the following information about users.

        <dl>
            <dt>#</dt>
            <dd>The <code>id</code> of the user</dd>
            <dt>Email</dt>
            <dd>The user's email address.  Users who are administrators of the
            site are indicated with <span class="badge badge-info">Admin</span>
            next to their email address.</dd>
            <dt>Display Name</dt>
            <dd>The name the user has chosen for display on the site.</dd>
            <dt>Phone Number</dt>
            <dd>The phone number the user registered with</dd>
            <dt>Date Joined</dt>
            <dd>The date the user registered on the site</dd>
            <dt>Num Requests</dt>
            <dd>The total number of ticket requests this user has created.
            This includes active, reserved, cancelled, and terminated
            requests.</dd>
            <dt>Num Offers</dt>
            <dd>The total number of ticket offers this user has created.
            This includes active, reserved, cancelled, and terminated
            offers.</dd>
        </dl>
    </p>
    <h3>Searching</h3>
    <p>
        The search box at the top of the user list will allow you to search for
        users based on their <strong>email address</strong> and
        <strong>name</strong>.
    </p>
    <h3>User Details</h3>
    <p>
        When viewing the details of a user you can see additional information
        about their account on the site including:
        
        <ul>
            <li>The history of all ticket requests and offers the user has made
                on the site.</li>
            <li>The last time they logged in.</li>
            <li>Link to edit the user's information.</li>
            <li>Link to edit the user's information.</li>
        </ul>
    </p>
    <h3>User Editing</h3>
    <p>
        As an admin, you can edit most parts of a user's information.  This includes:

        <dl class="dl-horizontal">
            <dt>Email Address</dt>
            <dd>The email address that communications about tickets will be
            sent to.  Must be unique across all users on the site.</dd>
            <dt>Name</dt>
            <dd>The name that will be displayed for the user. Must be unique
            across all users on the site.</dd>
            <dt>Max Allowed Matches</dt>
            <dd>The total number of tickets this user is allowed to distribute
            via the site.  Defaults to <code>2</code> for all users.  This
            value can be increased on a user by user basis at an admin's
            discretion.  The limit is in place to prevent a malicious user from
            listing fake tickets.</dd>
            <dt>Is Active</dt>
            <dd>This controls whether a user is able to log into the site.  In
            the event of a malicious user, this value should be unchecked to
            disable their account.</dd>
            <dt>Is Admin</dt>
            <dd>Gives the user access to the admin part of the site.</dd>
            <dt>Phone Number</dt>
            <dd>The phone number associated with the user.</dd>
        </dl>
    </p>

    <h2>Pre Registration Links<small><a href="{% url 'admin:generate-pre-registration-url' %}"><span class="glyphicon glyphicon-link"></span></a></small></h2>
    <p>
        Registration for the exchange is only open during a predetermined
        period of time.  In the event that a user needs to register outside of
        this timeframe, a special pre-registration link can be generated for
        them.  Each link is specific to an email address (and thus can only be
        used once).
    </p>
    <p>
        Pre Registration links are only valid for two days (48 hours) from the
        time they were generated.
    </p>

    <h2>Request Administration <small><a href="{% url 'admin:request-list' %}"><span class="glyphicon glyphicon-link"></span></a></small></h2>
    <p>
        A Ticket Request represents someone who needs a ticket.  Requests have
        a message associated with them that is displayed to ticketholders
        offering tickets through the exchange.
    </p>
    <h3>Ticket Request Details</h3>
    <p>
        <dl class="dl-horizontal">
            <dt>User</dt>
            <dd>The user requesting the ticket</dd>
            <dt>Created</dt>
            <dd>When the ticket request was created.</dd>
            <dt>Message</dt>
            <dd>
                The message the user provided with their request.  This text
                will be displayed to ticketholders.
            </dd>
            <dt>Status</dt>
            <dd>The current status of the ticket request.</dd>
            <dt>Cancelled</dt>
            <dd>Is this ticket request cancelled?</dd>
            <dt>Terminated</dt>
            <dd>Is this ticket request terminated?</dd>
            <dt>Request History</dt>
            <dd>The history of events associated with this ticket request</dd>
            <dt>Match History</dt>
            <dd>The matches that this ticket request has been apart of.</dd>
        </dl>
    </p>
    <h3>Terminating a Ticket Request</h3>
    <p>
        Termination is the mechanism through which an admin can disable a
        ticket request.
        <ul>
            <li>
                If the request is waiting to be matched, termination will remove it
                from the queue.
            </li>
            <li>
                If the request has been matched, terminating the request will
                cause the matched ticket to be re-allocated to the next person
                in line.
            </li>
        </ul>

        Reversing the termination of a ticket request will place it back at
        it's original place in line (which will normally be very near the front
        if it was already matched with someone).
    </p>
    <h2>Offer Administration <small><a href="{% url 'admin:offer-list' %}"><span class="glyphicon glyphicon-link"></span></a></small></h2>
    <p>
        Ticket Offer administration is where admins can view all of the ticket
        offers that have been created by ticketholders.  Given the nature of
        supply/demand, it is likely that there will never be any ticket offers
        waiting to be allocated.
    </p>
    <h3>Ticket Offer Details</h3>
    <p>
        <dl class="dl-horizontal">
            <dt>User</dt>
            <dd>The user offering the ticket</dd>
            <dt>Created</dt>
            <dd>When the ticket offer was created.</dd>
            <dt>Ticket Code</dt>
            <dd>The ticket confirmation code that was entered with the offer.</dd>
            <dt>Status</dt>
            <dd>The current status of the ticket offer.</dd>
            <dt>Cancelled</dt>
            <dd>Is this ticket offer cancelled?</dd>
            <dt>Terminated</dt>
            <dd>Is this ticket offer terminated?</dd>
            <dt>Offer History</dt>
            <dd>The history of events associated with this ticket offer</dd>
            <dt>Match History</dt>
            <dd>The matches that this ticket offer has been apart of.</dd>
        </dl>
    </p>
    <h3>Terminating a Ticket Offer</h3>
    <p>
        Termination is the mechanism through which an admin can disable a
        ticket offer.
    </p>
    <p>
        If the ticket offer is currently matched with a ticket request, the
        ticket request will resume it's place in the queue.
    </p>
    <h2>Match Administration <small><a href="{% url 'admin:match-list' %}"><span class="glyphicon glyphicon-link"></span></a></small></h2>
    <p>
        Ticket Match Administration shows all of the matches between people
        needing tickets (Ticket Requests) and ticketholders (Ticket Offers).
    </p>
    <h3>Ticket Match Details</h3>
    <p>
        <dl class="dl-horizontal">
            <dt>Created</dt>
            <dd>When the ticket match was created.</dd>
            <dt>Status</dt>
            <dd>The current status of the ticket match.</dd>
            <dt>Cancelled</dt>
            <dd>Is this ticket match cancelled?</dd>
            <dt>Terminated</dt>
            <dd>Is this ticket match terminated?</dd>
            <dt>Ticket Request</dt>
            <dd>Full information about the ticket request</dd>
            <dt>Ticket Offer</dt>
            <dd>Full information about the ticket offer</dd>
        </dl>
    </p>
    <h3>Terminating a Ticket Offer</h3>
    <p>
        Matches themselves cannot be terminated, though the admin interface
        exposes the ability to terminated the related ticket request or offer
        or both.
    </p>
    <p>
        The same caveats to termination apply to this termination.
    </p>
</div>
{% endblock %}
