{% extends "two_column.html" %}

{% block left_sidebar %}
  <div class="well">
    <ul class="nav nav-list">
      <li class="nav-header">Admin</li>
      <li><a href="{% url 'admin:index' %}">Index</a></li>
      <li class="nav-header">Users</li>
      <li><a href="{% url 'admin:user-list' %}">Users</a></li>
      <li class="nav-header">Tickets</li>
      <li><a href="{% url 'admin:offer-list' %}">Offers</a></li>
      <li><a href="{% url 'admin:request-list' %}">Requests</a></li>
      <li><a href="{% url 'admin:match-list' %}">Matches</a></li>
    </ul>
  </div>
{% endblock %}

{% block right_main %}
<div>
    <h2>Recently Registered Users</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Email</th>
                <th>Display Name</th>
                <th>Date Joined</th>
            </tr>
        </thead>
        <tbody>
            {% for ladder_user in recently_registered_users %}
                <tr>
                    <td>{{ ladder_user.pk }}</td>
                    <td>
                        <a href="{% url 'admin:user-detail' pk=ladder_user.pk %}">{{ ladder_user.email }}</a>
                        {% if ladder_user.is_admin %} <span class="badge badge-info">Admin</span>{% endif %}</td>
                    <td>{{ ladder_user.display_name }}</td>
                    <td>{{ ladder_user.date_joined }}</td>
                </tr>
            {% empty %}
                <tr><td>-</td><td colspan="4">No Users</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div>
    <h2>Recently Ticket Offers</h2>
    {% include 'exchange/admin/partials/offer_table.html' with ticket_offers=recently_offers %}
</div>

<div>
    <h2>Recently Ticket Requests</h2>
    {% include 'exchange/admin/partials/request_table.html' with ticket_requests=recently_requests %}
</div>

<div>
    <h2>Recently Ticket Matches</h2>
    {% include 'exchange/admin/partials/match_table.html' with ticket_matches=recently_matches %}
</div>
{% endblock %}
