{% extends "two_column.html" %}

{% block left_sidebar %}
<div class="well">
    <h3>Account</h3>
    <dl class="dl-horizontal">
        <dt>Name:</dt>
        <dd>{{ user }}</dd>
        <dt>Phone Number:</dt>
        <dd>{{ user.profile.phone_number }} </dd>
    </dl>
</div><!-- Account Information -->
{% if user.profile.can_offer_ticket %}
<div class="hero-unit">
    <h2>I have a ticket to offer</h2>
    <p>If you have a ticket that you would like to offer to someone,
    begin that process here.</p>
    <p><a href="{% url 'offer-create' %}" class="btn btn-primary btn-large">Offer a Ticket</a></p>
</div>
{% elif user.profile.has_reached_max_allowed_matches %}
<div class="hero-unit">
    <h2>Maximum Reached</h2>
    <p>
        Currently, your profile is only authorized to distribute
        {{ user.profile.max_allowed_matches }} tickets.  If you have more tickets
        than this feel free to contact an admin at
        <strong>piper</strong> <em>at</em> <strong>apogaea</strong>
        <em>dot</em> <strong>com</strong> and we'll happily increase your
        limit.
    </p>
    <p><a href="{% url 'offer-create' %}" class="btn btn-primary btn-large">Offer a Ticket</a></p>
</div>
{% endif %}
{% if user.profile.can_request_ticket %}
<div class="hero-unit">
    <h2>I need a ticket</h2>
    <p>If you are in need of a ticket, create your ticket request
    here.</p>
    <p><a href="{% url 'request-create' %}" class="btn btn-primary btn-large">Request a Ticket</a></p>
</div>
{% endif %}
{% endblock %}

{% block right_main %}
<h2>Offers <small>Your history of ticket offers</h2>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Reference #</th>
            <th>Created</th>
            <th>Status</th>
            <th>Links</th>
        </tr>
    </thead>
    <tbody>
        {% for ticket_offer in user.ticket_offers.all %}
        <tr>
            <td>{{ ticket_offer.pk }}</td>
            <td>{{ ticket_offer.created_at|date }}</td>
            <td>{{ ticket_offer.get_status_display }}</td>
            <td>
                <a href="{% url 'offer-detail' pk=ticket_offer.pk %}">Detail</a>
                {% if ticket_offer.is_active %}
                | <a href="{% url 'offer-cancel' pk=ticket_offer.pk %}">Cancel</a>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr><td>-</td><td colspan="3">No Offer History</td></tr>
        {% endfor %}
    </tbody>
</table>

<hr />

<h2>Requests <small>Your history of ticket requests</small></h2>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Reference #</th>
            <th>Created</th>
            <th>Status</th>
            <th>Links</th>
        </tr>
    </thead>
    <tbody>
        {% for ticket_request in user.ticket_requests.all %}
        <tr>
            <td>{{ ticket_request.pk }}</td>
            <td>{{ ticket_request.created_at|date }}</td>
            <td>{{ ticket_request.get_status_display }}</td>
            <td>
                <a href="{% url 'request-detail' pk=ticket_request.pk %}">Detail</a>
                {% if ticket_request.is_active %}
                | <a href="{% url 'request-cancel' pk=ticket_request.pk %}">Cancel</a>
                {% elif ticket_request.is_reserved %}
                {% if ticket_request.get_pending_match %}
                | <a href="{% url 'match-confirm' pk=ticket_request.get_pending_match.pk %}">Accept/Reject</a>
                {% endif %}
                {% endif %}
                </ul>
            </td>
        </tr>
        {% empty %}
        <tr><td>-</td><td colspan="3">No Request History</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
