{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        {% if token_valid %}
            <h2>4. Create your account</h2>
            <p>
            <ul>
                <li class="text-success">
                    <span class="glyphicon glyphicon-check"></span>
                    &nbsp;- 1. Submit Email and Phone Number
                </li>
                <li class="text-success">
                    <span class="glyphicon glyphicon-check"></span>
                    &nbsp;- 2. Confirm email address
                </li>
                <li class="text-success">
                    <span class="glyphicon glyphicon-check"></span>
                    &nbsp;- 3. Confirm phone number.
                </li>
                <li class="text-info">
                    <span class="glyphicon glyphicon-log-in"></span>
                    &nbsp;- 4. Create account.
                </li>
            </ul>
            </p>
            <form action="{% url 'register-verify-phone-number' token=token %}" method="post" class="well">
                {% csrf_token %}
                <p>
                    Enter the six digit code that was sent via SMS to 
                    <strong>{{ phone_number }}</strong>
                </p>
                {% bootstrap_field form.sms_code %}
                <p>
                Please submit your preferred display name along with the code that
                was texted to you.
                </p>
                <dl>
                    <dt>Email:</dt>
                    <dd>{{ email }}</dd>
                    <dt>Phone Number:</dt>
                    <dd>{{ phone_number }}</dd>
                </dl>
                {% bootstrap_field form.display_name %}
                {% bootstrap_field form.password %}
                <button class="btn btn-success" type="submit">Create Account</button>
            </form>
            <form action="{% url 'register-confirm' token=token %}" method="post" class="well">
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">Re-Send Code</button>
            </form>
        {% else %}
            {% if email_already_registered %}
                <p>
                An account with the email address <code>{{ email }}</code> has
                already been registered.  You can <a href="{% url 'login' %}">login</a>
                or <a href="{% url 'password-reset' %}">reset your password</a>.
                </p>
            {% elif phone_number_already_registered %}
                <p>
                An account with the phone number <code>{{ phone_number }}</code>
                already exists.  Please register with a different phone number.
                </p>
            {% else %}
                <p>
                It appears you are using an expired or invalid registration
                confirmation link.  Would you like to try 
                <a href="{% url 'register' %}">registering</a> again?
                </p>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
