{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>2. Confirm email address</h2>
        <p>
          <ul>
              <li class="text-success">
                  <span class="glyphicon glyphicon-check"></span>
                  &nbsp;- 1. Submit Email and Phone Number
              </li>
              <li class="text-info">
                  <span class="glyphicon glyphicon-log-in"></span>
                  &nbsp;- 2. Confirm email address
              </li>
              <li class="text-muted">
                  <span class="glyphicon glyphicon-unchecked"></span>
                  &nbsp;- 3. Confirm phone number.
              </li>
              <li class="text-muted">
                  <span class="glyphicon glyphicon-unchecked"></span>
                  &nbsp;- 4. Create account.
              </li>
          </ul>
        </p>
        <p>A confirmation email has been sent to you.  Follow the link in the
        email to confirm your email address.</p>
    </div>
</div>
{% endblock %}
