{% extends "base.html" %}
{% load url from future %}

{% block content %}
  <div class="well">
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}

      <fieldset>
        {{ form.display_name.label_tag }}
        {{ form.display_name }}
        <span class="help-inline">{{ form.display_name.errors }}</span>
        <span class="help-block">{{ form.field.help_text }}</span>
      </fieldset>

      <fieldset class="control-group {{ form.phone_number.css_classes }}">
        {{ form.phone_number.label_tag }}
        <div class="input-append">
          {{ form.phone_number }}<span class="add-on">XXX-XXX-XXXX</span>
        </div>
        <span class="help-inline">{{ form.phone_number.errors }}</span>
        <span class="help-block">{{ form.field.help_text }}</span>
      </fieldset>
      {% if user.phone_number %}
        <div class="alert alert-warning">
          <h4 class="alert-heading">Warning</h4>
          <p>Changing your phone number will remove any listings associated with
          your account and require you to reverify your account information.</p>
        </div>
      {% endif %}

      <button type="submit" class="btn btn-primary">{% if user.phone_number %}Save Changes{% else %}Save and Verify{% endif %}</button>
      <a class="btn" href="{% url 'dashboard' %}">Cancel</a>
    </form>
  </div>
{% endblock %}
