{% extends "base.html" %}
{% load url from future %}

{% block content %}
  {% if phone_number_form %}
    <div class="well">
      <p>To begin using the Apogaea Ladder program, you will need to add and
      verify a phone number.</p>
      <form class="form-inline" method="post" action="{% url 'create_phone_number' %}">
        {% csrf_token %}
        <fieldset class="control-group {{ phone_number_form.phone_number.css_classes }}">
          {{ phone_number_form.phone_number.label_tag }}
          {{ phone_number_form.phone_number }}
          <span class="add-on">XXX-XXX-XXXX</span>
          <span class="help-inline">{{ phone_number_form.phone_number.errors }}</span>
          <button type="submit" class="btn">Submit and Verify</button>
        </fieldset>
      </form>
    </div>
  {% elif not user.ladder_profile.is_verified %}
    <p>Something</p>
  {# something #}
  {% else %}
    <div class="row show-grid">
      <div class="span8">
        <div class="well">
          <h3>I have a ticket to offer</h3>
          <p>If you have a ticket that you would like to offer to someone,
          begin that process here.</p>
          <a href="{% url 'offer_create' %}" class="btn btn-info btn-large">List Ticket</a>
        </div>

        <div class="well">
          <h3>I need a ticket</h3>
          <p>If you are in need of a ticket, create your ticket request
          here.</p>
          <a href="{% url 'request_create' %}" class="btn btn-info btn-large">Request a Ticket</a>
        </div>
      </div>
      <div class="span4">
        <div class="well">
          <h3>
            Account Information
            {% if not user.ladder_profile.is_verified %}
              <small class="badge badge-warning">Not Verified</small>
            {% else %}
              <small class="badge badge-success">Verified</small>
            {% endif %}
          </h3>
          <a href="{% url 'account_edit' %}">Edit</a>
          <dl class="dl-horizontal">
            <dt>Display Name:</dt>
            <dd>{{ user }}</dd>
            {% if user.ladder_profile.verified_phone_number %}
              {% with phone_number=user.ladder_profile.verified_phone_number %}
                <dt>Primary Number:</dt>
                <dd>
                  {{ phone_number }} 
                  {% if phone_number.is_deletable %}
                    <a href="#" title="Remove Phone Number"><i class="icon-remove"></i></a>
                  {% endif %}
                </dd>
              {% endwith %}
            {% endif %}
            {% for phone_number in user.ladder_profile.phone_numbers.all %}
              {% if not phone_number.is_primary %}
                <dt>Alternate Number:</dt>
                <dd>
                  {{ phone_number }} 
                  {% if phone_number.is_verified %}
                    <a href="#" title="Set as primary phone number."><i class="icon-star"></i></a>
                  {% else %}
                    <a href="{% url 'verify_phone_number' pk=phone_number.pk %}" title="Veryfy phone number"><i class="icon-wrench"></i></a>
                  {% endif %}
                  {% if phone_number.is_deletable %}
                    <a href="#" title="Remove phone number"><i class="icon-remove"></i></a>
                  {% endif %}
                </dd>
              {% endif %}
            {% endfor %}
          </dl>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
