{% extends "base.html" %}
{% load url from future %}

{% block content %}
  {% if phone_number_form %}
    <div class="row">
      <div class="span12">
        <div class="hero-unit">
          <h1>Phone Verification</h1>
          <p>To begin using the Apogaea Ladder program, you will need to add and
          verify a phone number.</p>
          <form class="form-inline" method="post" action="{% url 'create_phone_number' %}">
            {% csrf_token %}
            <fieldset class="control-group {{ phone_number_form.phone_number.css_classes }}">
              {{ phone_number_form.phone_number.label_tag }}
              {{ phone_number_form.phone_number }}
              <span class="add-on">XXX-XXX-XXXX</span>
              <span class="help-inline">{{ phone_number_form.phone_number.errors }}</span>
              <span class="help-block">Standard SMS rates will apply.</span>
              <button type="submit" class="btn-success">Submit and Verify</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="span4">
        <div class="well">
          <h3>
            Account
            {% if not user.ladder_profile.is_verified %}
              <small class="badge badge-warning">Not Verified</small>
            {% else %}
              <small class="badge badge-success">Verified</small>
            {% endif %}
          </h3>
          <a href="{% url 'account_edit' %}">Edit</a>
          <dl class="dl-horizontal">
            <dt>Name:</dt>
            <dd>{{ user }}</dd>
            {% if user.ladder_profile.verified_phone_number %}
              {% with phone_number=user.ladder_profile.verified_phone_number %}
                <dt>Primary Number:</dt>
                <dd>{{ phone_number }} </dd>
              {% endwith %}
            {% endif %}
            {% for phone_number in user.ladder_profile.phone_numbers.all %}
              {% if not phone_number.is_primary %}
                <dt>Alternate Number:</dt>
                <dd>
                  {{ phone_number }} 
                  {% if phone_number.is_verified %}
                    <a href="{% url 'set_primary_phone_number' pk=phone_number.pk %}#" title="Set as primary phone number."><i class="icon-star"></i></a>
                  {% else %}
                    <a href="{% url 'verify_phone_number' pk=phone_number.pk %}" title="Veryfy phone number"><i class="icon-wrench"></i></a>
                  {% endif %}
                  {% if phone_number.is_deletable %}
                    <a href="{% url 'delete_phone_number' pk=phone_number.pk %}#" title="Remove phone number"><i class="icon-remove"></i></a>
                  {% endif %}
                </dd>
              {% endif %}
            {% endfor %}
          </dl>
          <p><a href="{% url 'create_phone_number' %}">Add another phone number</a></p>
        </div><!-- Account Information -->
        {% if user.ladder_profile.can_offer_ticket %}
          <div class="hero-unit">
            <h2>I have a ticket to offer</h2>
            <p>If you have a ticket that you would like to offer to someone,
            begin that process here.</p>
            <p><a href="{% url 'offer_create' %}" class="btn btn-primary btn-large">Offer a Ticket</a></p>
          </div>
        {% endif %}
        {% if user.ladder_profile.can_request_ticket %}
          <div class="hero-unit">
            <h2>I need a ticket</h2>
            <p>If you are in need of a ticket, create your ticket request
            here.</p>
            <p><a href="{% url 'request_create' %}" class="btn btn-primary btn-large">Request a Ticket</a></p>
          </div>
        {% endif %}
      </div>
      <div class="span8">
        {% if user.ladder_profile.is_verified %}
          <h2>Offers <small>Your history of ticket offers</h2>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Reference #</th>
                <th>Created</th>
                <th>Status</th>
                <th>Links</th>
              </tr>
            </thead>
            <tbody>
              {% for ticket_offer in user.ticket_offers.all %}
                <tr>
                  <td>{{ ticket_offer.pk }}</td>
                  <td>{{ ticket_offer.created_at|date }}</td>
                  <td>{{ ticket_offer.get_status_display }}</td>
                  <td>
                      <a href="{% url 'offer_detail' pk=ticket_offer.pk %}">Detail</a>
                      {% if ticket_offer.is_active %}
                        | <a href="{% url 'offer_cancel' pk=ticket_offer.pk %}">Cancel</a>
                        {% if ticket_offer.is_automatch %}
                          | <a href="{% url 'offer_select_recipient' pk=ticket_offer.pk %}">Select Recipient</a>
                        {% endif %}
                      {% endif %}
                  </td>
                </tr>
              {% empty %}
              <tr><td>-</td><td colspan="3">No Offer History</td></tr>
              {% endfor %}
            </tbody>
          </table>

          <hr />

          <h2>Requests <small>Your history of ticket requests</small></h2>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Reference #</th>
                <th>Created</th>
                <th>Status</th>
                <th>Links</th>
              </tr>
            </thead>
            <tbody>
              {% for ticket_request in user.ticket_requests.all %}
                <tr>
                  <td>{{ ticket_request.pk }}</td>
                  <td>{{ ticket_request.created_at|date }}</td>
                  <td>{{ ticket_request.get_status_display }}</td>
                  <td>
                      <a href="{% url 'request_detail' pk=ticket_request.pk %}">Detail</a>
                      {% if ticket_request.is_active %}
                        | <a href="{% url 'request_update' pk=ticket_request.pk %}">Edit</a>
                        | <a href="{% url 'request_cancel' pk=ticket_request.pk %}">Cancel</a>
                      {% endif %}
                    </ul>
                  </td>
                </tr>
              {% empty %}
                <tr><td>-</td><td colspan="3">No Request History</td></tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <div class="well">
            <h3>Phone Verification Needed</h3>
            <p>Please verify your phone number to gain access to the exchange.</p>
            <ul>
              {% for phone_number in user.ladder_profile.phone_numbers.is_verifiable %}
                <li>{{ phone_number }} - <a href="{% url 'verify_phone_number' pk=phone_number.pk %}">Verify</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock %}
