{% extends 'admin/index.html' %}
{% load ladder_tags %}
{% load humanize %}

{% block right_main %}
  <div class="well">
    <div class="page-header">
      <h1>
        Ticket Offer #{{ ticket_offer.pk }}
      </h1>
    </div>
    <form id="offer-terminate" method="post" action="{% url 'admin:offer-toggle-terminate' pk=ticket_offer.pk %}">
      {% csrf_token %}
      {% if ticket_offer.is_terminated %}
        <button type="submit" class="btn btn-warning">Undo Termination</button>
      {% else %}
        <button type="submit" class="btn btn-danger">Terminate Ticket Offer</button>
      {% endif %}
    </form>
    <div>
      <dl class="dl-horizontal">
        <dt>Id:</dt>
        <dd>{{ ticket_offer.pk }}</dd>
        <dt>User:</dt>
        <dd>
          <a href="{% url 'admin:user-detail' pk=ticket_offer.user.pk %}">{{ ticket_offer.user }}</a>
        </dd>
        <dt>Created:</dt>
        <dd>{{ ticket_offer.created_at }}</dd>
        <dt>Ticket Code:</dt>
        <dd>{{ ticket_offer.ticket_code }}</dd>
        <dt>Status:</dt>
        <dd>
            {{ ticket_offer.get_status_display }}
            {% if ticket_offer.is_reserved %}
                for 
                <a href="{% url 'admin:request-detail' pk=pending_match.ticket_request.pk %}">Request #{{ pending_match.ticket_request.pk }}</a>
                <em> (Expires {{ pending_match.expires_at|naturaltime }})</em>
            {% endif %}
        </dd>
        <dt>Cancelled:</dt>
        <dd>{{ ticket_offer.is_cancelled|yesno|title }}</dd>
        <dt>Terminated:</dt>
        <dd>{{ ticket_offer.is_terminated|yesno|title }}</dd>
      </dl>
    </div>
  </div>
  <div class="well">
      <h2>Offer History</h2>
      {% include 'exchange/admin/partials/history_table.html' with ticket_history_entries=ticket_offer.history.all %}
  </div>
  <div class="well">
      <h2>Match History</h2>
      {% include 'exchange/admin/partials/match_table.html' with ticket_matches=ticket_offer.matches.all %}
  </div>

{% endblock %}
