{% extends 'admin/index.html' %}
{% load ladder_tags %}
{% load humanize %}

{% block right_main %}
  <div class="well">
    <div class="page-header">
      <h1>
        Ticket Request #{{ ticket_request.pk }}
      </h1>
    </div>
    <form id="request-terminate" method="post" action="{% url 'admin:request-toggle-terminate' pk=ticket_request.pk %}">
      {% csrf_token %}
      {% if ticket_request.is_terminated %}
        <button type="submit" class="btn btn-warning">Undo Termination</button>
      {% else %}
        <button type="submit" class="btn btn-danger">Terminate Ticket Request</button>
      {% endif %}
    </form>
    <div>
      <dl class="dl-horizontal">
        <dt>Id:</dt>
        <dd>{{ ticket_request.pk }}</dd>
        <dt>User:</dt>
        <dd>
          <a href="{% url 'admin:user-detail' pk=ticket_request.user.pk %}">{{ ticket_request.user }}</a>
        </dd>
        <dt>Created:</dt>
        <dd>{{ ticket_request.created_at }}</dd>
        <dt>Message:</dt>
        <dd><em>{{ ticket_request.message }}</em></dd>
        <dt>Status:</dt>
        <dd>
            {{ ticket_request.get_status_display }}
            {% if ticket_request.is_reserved %}
                for 
                <a href="{% url 'admin:offer-detail' pk=pending_match.ticket_offer.pk %}">Offer #{{ pending_match.ticket_offer.pk }}</a>
                <em> (Expires {{ pending_match.expires_at|naturaltime }})</em>
            {% endif %}
        </dd>
        <dt>Cancelled:</dt>
        <dd>{{ ticket_request.is_cancelled|yesno|title }}</dd>
        <dt>Terminated:</dt>
        <dd>{{ ticket_request.is_terminated|yesno|title }}</dd>
      </dl>
    </div>
  </div>
  <div class="well">
      <h2>Request History</h2>
      {% include 'exchange/admin/partials/history_table.html' with ticket_history_entries=ticket_request.history.all %}
  </div>
  <div class="well">
      <h2>Match History</h2>
      {% include 'exchange/admin/partials/match_table.html' with ticket_matches=ticket_request.matches.all %}
  </div>

{% endblock %}
